html
    head
        title= title
        meta(charset="utf-8")
        link(rel="stylesheet", href="static/resources/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="static/css/style.css")
    body
        div(id="root")
        script(src="static/js/bundle.js" type="text/javascript")
