html
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport", content="width-device-width, initial-scale=1")
        link(rel="stylesheet", href="static/resources/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="static/css/landing.css")
    body
        div(id="root")
        script(src="static/js/landing.js" type="text/javascript")
