.menu {
    float: right;
    display: inline-block;
    list-style-type: none;
    margin-right: 100px;
    li a {
        text-decoration: none;
    }
    a:visited {
        color: inherit;
    }
    li:last-child {
    }
    .menu_item {
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid;
        display: inline;
    }
}

.clearfix {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
