@import '../../scss/global.scss';

.post_container {
    float: left;
    width: 50%;
    .post {
        float: left;
        margin: 0 10px;
        .post_title {
            font-family: "PostTitle";
            display: block;
            text-decoration: none;
        }

        .post_title:visited {
            color: inherit
        }

        .post_stamp {
            margin-top: 3px;
            font-family:: "PostTimestamp";
            font-size: 11px;
            color: #757575;
            .date {
                font-size: 12px;
            }

            .post_tag {
                font-size: 12px;
                font-weight: bold;
                text-decoration: none;
                color: inherit;
            }
            .post_tag:visited {
                color: inherit
            }
        }

        .post_tag {

        }
    }
}
