@import '../../scss/global.scss';

.post_list {
    width: 80%;
    float: left;
    padding: 0 5px;
}

.clearfix {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
