.header {
    width: 1300px;
    height: 300;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    background-image: url(/static/resources/img/travel.jpg);
    background-size: 100% auto;
    a {
        display: block;
        height: 100%;
    }
}

