@font-face {
    font-family: 'Landing';
    src: url('/static/resources/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'General';
    src: url('/static/resources/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'PostTitle';
    src: url('/static/resources/fonts/NotoSans-Bold.ttf');
}

@font-face {
    font-family: 'PostTimestamp';
    src: url('/static/resources/fonts/NotoSans-Regular.ttf');
}


